@use 'index.module';
.notification {
    @include index.flex-row;
    position: fixed;
    bottom: 200px;
    align-items: center;
    gap: 0.5rem;
    right: 100px;
    padding: 1rem 2rem;
    border: none;
    background: white;
    border-radius: 15px;
    text-transform: capitalize;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    max-width: 500px;
    text-align: center;
    font-size: 1rem;

    &.closed {
        bottom: 144px;
        opacity: 0;
    }
}
