.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-height: 35px;
    overflow: hidden;
}
