.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-height: 35px;
    height: 35px;
    overflow: hidden;
    background-color: #1E222D;
}

@media only screen and (max-width: 1119px) {
    .widget {
        max-height: unset;
        height: unset;
    }
}
