.main {
    position: relative;
    display: flex;
    background-color: #e5e5e5;
    width: 100%;
    height: calc(100% - 110px);
    input {
        width: 100%;
        background: #ffffff;
        border: 1px solid #ced4da;
        border-radius: 5px;
        height: 40px;
        padding-inline: 0.7rem;
        font-size: 1rem;
        font-family: 'montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif;
    }
}

.authBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 5px;
    padding: 3.625rem;
    width: 480px;
    min-width: 480px;
    overflow: hidden;
    .slideBox {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 5rem;
        overflow: hidden;
        width: calc(200% + 5rem);
        transition: margin-left 0.3s ease-in-out;
    }
    .inputs {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        flex-grow: 1;
        transition: opacity 0.3s ease-in-out;
    }
    .signup {
        text-align: center;
        margin-block: 1rem;
        b {
            border-bottom: 1px solid transparent;
            cursor: pointer;
            transition: 0.2s border-bottom-color ease-in-out;
            &:hover {
                border-bottom-color: black;
            }
        }
    }
}

.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #d9d9d9;
    span {
        width: 40%;
        height: 1px;
        background-color: #d9d9d9;
    }
}

.zim_button {
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #ed7830;
    border: none;
    height: 40px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: #f66a0f;
    }
}

.errorMessage {
    font-weight: bold;
    color: #ec4c4c;
    margin-bottom: 0.75rem;
    &:first-letter {
        text-transform: capitalize;
    }
}

.googleButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem auto 0 auto;
    background: #4285f4;
    border-radius: 2px;
    color: white;
    border: none;
    font-size: 1rem;
    height: 40px;
    width: fit-content;
    font-family: 'roboto', 'montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    cursor: pointer;
}
