@use 'components/index.module';

.main {
    @include index.flex-row;
    flex-grow: 1;
    padding: 3rem;
    gap: 4rem;
    background-color: #E5E5E5;
    min-height: calc(100vh - 145px); // temp fix
    .banner {
        flex-grow: 1;
    }
}

@media only screen and (max-width: 1119px) {
    .main {
        @include index.flex-col;
        align-items: center;
    }
}
