@use 'components/index.module';
.market {
    @include index.flex-row;
    max-width: 1500px;
    margin: auto;
    gap: 1rem;
}

.title {
    @include index.flex-row;
    align-items: center;
    gap: .2rem;
}

.chart {
    min-height: 300px;
    aspect-ratio: 1.3;
}
