@use 'components/index.module';

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.changeImageBox {
    .dragBox {
        display: grid;
        place-items: center;
        background-color: #e5e5e5;
        width: 30vw;
        min-width: 300px;
        height: 30vh;
        .center {
            display: grid;
            place-items: center;
            button {
                background: none;
                border: none;
                cursor: pointer;
            }
        }
        .imageFrame {
            position: relative;
            display: block;
            height: 20vh;
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    > p {
        color: #ec4c4c;
        padding-block: 1rem 0.5rem;
        text-align: center;
    }
    .controls {
        padding: 1rem 2rem;
        button {
            width: fit-content;
        }
    }
}

.controls {
    @include index.flex-row;
    justify-content: space-between;

    button {
        @include index.button-base;
        padding-inline: 2rem;
        @include index.spinner(white);
        &:first-child {
            background-color: white;
            color: black;
            border: 1px solid #e5e5e5;
            transition: background-color 0.2s ease-in-out;
            &:hover {
                background-color: #f5f5f5;
            }
        }
        &:last-child {
            color: white;
            border: none;
            background-color: #f49232;
            transition: background-color 0.2s ease-in-out;
            &:hover {
                background-color: #f66a0f;
            }
        }
    }
}

.phoneInput {
    flex-grow: 1;
}

.main {
    @include index.flex-col;
    align-items: center;
    gap: 2rem;
    padding-block: 3rem;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 110px);
    background-color: #e5e5e5;
    .tab {
        section {
            @include index.flex-col;
            row-gap: 1.5625rem;
            h3 {
                font-weight: bold;
            }
            > div {
                display: grid;
                row-gap: 1.5625rem;
                column-gap: 2rem;
                width: 80%;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                .firstCol {
                    grid-column: 1;
                    input:disabled {
                        cursor: no-drop;
                        user-select: none;
                    }
                }
                input {
                    @include index.input;
                    width: 100%;
                }
            }
            button {
                @include index.button-base;
                position: relative;
                border: none;
                background-color: #f49232;
                color: white;
                width: 200px;
                min-width: 100px;
                transition: color 0.2s linear;
                @include index.spinner(white);
            }
        }
    }

    .changePassword {
        margin-top: 1rem;
    }

    .account, .changePassword {
        @include index.flex-col;
        @extend .tab;
        gap: 1.5625rem;
        .layer1 {
            @include index.flex-row;
            .profilePic {
                border-radius: 50%;
            }
            gap: 2rem;
            > div {
                @include index.flex-col;
                justify-content: space-between;
                flex-grow: 1;
                .changePhoto {
                    background: none;
                    border: none;
                    width: fit-content;
                    padding: 0;
                    color: #f49232;
                    font-weight: bold;
                    cursor: pointer;
                }
                svg {
                    transform: rotate(270deg);
                }
            }
            .logout {
                @include index.flex-row;
                justify-content: flex-end;
                align-items: flex-end;
                font-weight: bold;
                color: #bbbbbb;
            }
        }
        .socialMedia {
            label,
            > div {
                width: calc(65%);
                @include index.flex-row;
                align-items: center;
                gap: 1rem;
                grid-column: 1 / span 1;
            }
            button {
                width: 200px;
                min-width: 100px;
            }
        }
        .info {
            width: 100%;
            @include index.flex-row;
            align-items: center;
            gap: 0.3rem;
            color: #969696;
            h3 {
                margin-right: 2rem;
                color: black;
            }
        }
    }
    .wishlist {
        @include index.flex-col;
        gap: 1.5625rem;
        .checkoutButton {
            @include index.button-base;
            @include index.bare-button;
            @include index.spinner(white);
            background-color: #f49232;
            max-width: 200px;
            margin: auto;
            color: white;
        }
        > div {
            @include index.flex-row;
            gap: 1.5625rem;
            .text {
                flex-grow: 1;
                h3 {
                    text-transform: capitalize;
                }
            }
            .buttons {
                gap: 0.3rem;
                .addToCart {
                    @include index.spinner(white);
                    transition: background-color 0.2s ease-in-out;
                    &:hover {
                        background-color: #f66a0f;
                    }
                }
                .productsRemove {
                    @include index.spinner(black);
                    transition: background-color 0.2s ease-in-out;
                    &:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
            > div {
                @include index.flex-col;
                justify-content: space-between;
                padding-block: 1rem;
                button {
                    @include index.bare-button;
                    border-radius: 5px;
                    min-width: 150px;
                }
                .addToCart {
                    background-color: #f49232;
                    color: white;
                    height: 55%;
                }
                .remove {
                    background-color: white;
                    color: black;
                    height: 40%;
                    border: 1px solid #e5e5e5;
                }
                .productsRemove {
                    @include index.spinner(black);
                    @extend .remove;
                    height: 55%;
                }
                span {
                    font-weight: bold;
                    color: #f49232;
                }
            }
        }
    }
}

.createButton {
    @include index.button-base;
    background-color: #f49232;
    border: none;
    color: white;
    width: fit-content;
    padding-inline: 2rem;
}
.checkoutComplete {
    @include index.flex-col;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.expandBtn {
    @include index.bare-button;
    width: fit-content;
    cursor: pointer;
    height: fit-content;
}

.createProduct {
    position: relative;
    @include index.flex-col;
    gap: 1rem;
    min-width: 300px;
    align-items: flex-start;
    input {
        @include index.input;
        width: 100%;
    }
    > label,
    .label {
        @include index.flex-col;
        gap: 0.2rem;
        width: 100%;
        text-transform: capitalize;
        > div {
            width: 100%;
        }
    }
    .controls {
        padding: 0.3rem 0.5rem;
        width: 100%;
        button {
            width: 110px;
        }
    }
    .imageButton {
        @include index.button-base;
        border: none;
        background-color: #f49232;
        color: white;
    }
}

@media only screen and (max-width: 1119px) {
    .main {
        padding: 1.5625rem;
        .tab {
            section {
                > div {
                    width: 100%;
                }
            }
        }
        .account {
            .socialMedia {
                label,
                > div {
                    width: 100%;
                }
            }
        }
    }
}
