@use 'components/index.module';

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.changeImageBox {
    .dragBox {
        display: grid;
        place-items: center;
        background-color: #e5e5e5;
        width: 30vw;
        min-width: 300px;
        height: 30vh;
        border: 3px dashed #a6a6a6;
        .center {
            display: grid;
            place-items: center;
            button {
                background: none;
                border: none;
                cursor: pointer;
            }
        }
        .imageFrame {
            position: relative;
            display: block;
            height: 20vh;
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    .controls {
        @include index.flex-row;
        justify-content: space-between;
        padding: 1rem 2rem;
        button {
            @include index.button-base;
            width: fit-content;
            padding-inline: 2rem;
            &:first-child {
                background-color: white;
                color: black;
                border: 1px solid #e5e5e5;
                transition: background-color .2s ease-in-out;
                &:hover {
                    background-color: #f5f5f5;
                }
            }
            &:last-child {
                color: white;
                border: none;
                background-color: #f49232;
                transition: background-color .2s ease-in-out;
                &:hover {
                    background-color: #f66a0f;
                }
            }
        }
    }
}
.main {
    @include index.flex-col;
    align-items: center;
    gap: 2rem;
    padding-block: 3rem;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 110px);
    background-color: #e5e5e5;
    .tab {
        section {
            @include index.flex-col;
            row-gap: 1.5625rem;
            h3 {
                font-weight: bold;
            }
            div {
                display: grid;
                row-gap: 1.5625rem;
                column-gap: 2rem;
                width: 80%;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                .firstCol {
                    grid-column: 1;
                }
                input {
                    @include index.input;
                    width: 100%;
                }
            }
            button {
                @include index.button-base;
                position: relative;
                border: none;
                background-color: #f49232;
                color: white;
                width: 200px;
                min-width: 100px;
                transition: color 0.2s linear;
                @extend .spinner;
            }
        }
    }

    .account {
        @include index.flex-col;
        @extend .tab;
        gap: 1.5625rem;
        .layer1 {
            @include index.flex-row;
            .profilePic {
                border-radius: 50%;
            }
            gap: 2rem;
            > div {
                @include index.flex-col;
                justify-content: space-between;
                flex-grow: 1;
                .changePhoto {
                    background: none;
                    border: none;
                    width: fit-content;
                    padding: 0;
                    color: #f49232;
                    font-weight: bold;
                    cursor: pointer;
                }
                svg {
                    transform: rotate(270deg);
                }
            }
            .logout {
                @include index.flex-row;
                justify-content: flex-end;
                align-items: flex-end;
                font-weight: bold;
                color: #bbbbbb;
            }
        }
        .socialMedia {
            label {
                width: calc(65%);
                @include index.flex-row;
                align-items: center;
                gap: 1rem;
                grid-column: 1 / span 1;
            }
            button {
                width: 200px;
                min-width: 100px;
            }
        }
        .info {
            width: 100%;
            @include index.flex-row;
            align-items: center;
            gap: 0.3rem;
            color: #969696;
            h3 {
                margin-right: 2rem;
                color: black;
            }
        }
    }
    .wishlist {
        @include index.flex-col;
        gap: 1.5625rem;
        > div {
            @include index.flex-row;
            gap: 1.5625rem;
            .text {
                flex-grow: 1;
            }
            > div {
                @include index.flex-col;
                justify-content: space-between;
                padding-block: 1rem;

                button {
                    @include index.bare-button;
                    border-radius: 5px;
                    min-width: 150px;
                }
                .addToCart {
                    background-color: #f49232;
                    color: white;
                    height: 55%;
                }
                .remove {
                    background-color: white;
                    color: black;
                    height: 40%;
                    border: 1px solid #e5e5e5;
                }
                .productsRemove {
                    @extend .remove;
                    height: 55%;
                }
                span {
                    font-weight: bold;
                    color: #f49232;
                }
            }
        }
    }
}

.createButton {
    @include index.button-base;
    background-color: #f49232;
    border: none;
    color: white;
    width: fit-content;
    padding-inline: 2rem;
}

.expandBtn {
    @include index.bare-button;
    width: fit-content;
    cursor: pointer;
    height: fit-content;
}

@media only screen and (max-width: 1119px) {
    .main {
        padding: 1.5625rem;
    }
}
